@model Sgs.Library.Mvc.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row fadeIn" style="margin:30px 30px 30px 30px">
    <div class="col-md-6">
        <i class="far fa-edit" style="font-size: 45px; color: #585858;">
            <span style="font-size:24pt;color:#585858">  Edit Book</span>
        </i>
    </div>

</div>
<hr />

<div class="card bg-light moveUp">
    <form asp-action="Edit" method="post">
        <div class="card-header" style="color:#585858">
            <i class="far fa-edit"></i> <b> Are you sure Edit book ?</b>
        </div>

        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Author"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ReleaseYaer"></label>
                        <input asp-for="ReleaseYaer" class="form-control" />
                        <span asp-validation-for="ReleaseYaer" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Quantity"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RowNumber"></label>
                        <input asp-for="RowNumber" class="form-control" />
                        <span asp-validation-for="RowNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ShelfNumber"></label>
                        <input asp-for="ShelfNumber" class="form-control" />
                        <span asp-validation-for="ShelfNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ColumnNumber"></label>
                        <input asp-for="ColumnNumber" class="form-control" />
                        <span asp-validation-for="ColumnNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div>
                <button id="resetBtn" type="reset" class="btn btn-secondary"><i class="fas fa-ban"></i> Cancel</button>
                <button type="submit" class="btn btn-info"><i class="fas fa-database"></i>  Save   </button>
            </div>
        </div>
    </form>
</div>
<br />

@section Scripts {

    <partial name="_ValidationScripts" />

    <script>

        (function () {

            $(function () {
                 $("button:reset").on("click", function () {

                    var url = '@Url.Action("IndexAsync")';
                    window.location.href = url;

                });
            });

        })();

    </script>

}
